<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#5DEBD7"/>
    <meta name="description" content="Jelajahi beberapa restoran yang Anda sukai dengan Pana Resto, tempat untuk mencari restoran yang terbaik.">
    <link rel="apple-touch-icon" href="./icons/icon-192x192.png">
    <link rel="manifest" href="./app.webmanifest">
    <link rel="icon" href="./logos/favicon.png">
    <title>Pana Resto</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/b070c8f1df.css" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/b070c8f1df.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <a href="#maincontent" class="skip-link">Menuju ke Konten</a>
    <header class="header">
      <div class="header__inner">
        <div class="header__logo">
          <picture>
            <source media="(max-width: 600px)" srcset="./images/pana-resto-logo-small.png">
            <img src="./images/pana-resto-logo-large.png" alt="Logo Pana Resto">
          </picture>
        </div>
        <button id="menu" class="header__menu" aria-label="Menu">☰</button>
        <nav id="drawer" class="nav">
          <ul class="nav__list">
            <li class="nav__item"><a href="#/home">Home</a></li>
            <li class="nav__item"><a href="#/favorite">Favorite</a></li>
            <li class="nav__item"><a href="https://github.com/fauzanrizkyanag" target="_blank" rel="noreferrer">About Us</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main id="maincontent"></main>
    <footer>
      <p>Copyright &#169; 2024 - Pana Resto, Created by Fauzan Rizkyana Gunawan</p>
    </footer>
  </body>
</html>
